site_name: 清华大学飞跃手册
repo_url: https://github.com/THU-feiyue/THU-feiyue
edit_uri: edit/main/docs/
site_url: https://feiyue.online
site_author: THU Feiyue Team
copyright: 'Copyright &copy; 2023 THU Feiyue Team'

nav:
  - 首页:
    - index.md
    - 关于: main/about.md
    - 友链: main/friendlink.md
    - 名词解释: main/appendix.md
    - Q & A: main/qa.md
  - 前言:
    - 为什么出国留学: preface/why.md
    - master or doctor?: preface/master_phd.md
    - 国家/地区选择: preface/location.md
    - 信息收集: preface/info.md
    - 中介 or DIY: preface/diy.md
    - 时间线: preface/timeline.md
  - 准备:
    - prepare/index.md
    - GPA & 标化考试: prepare/exam.md
    - 经历:
      - prepare/experience/index.md
      - 科研: prepare/experience/research.md
      - 实习: prepare/experience/intern.md
      - 交换: prepare/experience/exchange.md
    - 推荐信: prepare/rl.md
    - 选校定位:
      - prepare/selection/index.md
      - 项目介绍: prepare/selection/programs.md
      - 套磁: prepare/selection/touch.md
    - 文书:
      - prepare/material/index.md
      - PS / SOP: prepare/material/sop.md
      - Research Proposal: prepare/material/rp.md
      - CV: prepare/material/cv.md
      - Diversity Statement: prepare/material/diversity.md
      - Writing Sample: prepare/material/writingsample.md
    - 网申: prepare/onlinesystem.md
    - 面试: prepare/interview.md
    - 其它帮助:
      - 学信网认证: prepare/help/chsi.md
      - TOEFL/GRE 家考注意事项: prepare/help/toefl-home.md
      - 申请信息表格整理: prepare/help/summarytable.md
      - APS: prepare/help/aps.md
  - 录取及之后:
    - 录取及之后: afterad/index.md
    - Funding: afterad/funding.md
    - 等待 Offer: afterad/waiting.md
    - 比较决定: afterad/compare.md
    - 签证: afterad/visa.md
    - 前往: afterad/travel.md
    - 租房: afterad/rent.md
    - 生活: afterad/life.md
  - 案例:
  # 请案例贡献者将自己的文档放在对应年份对应的文件夹下，并维护好这里的目录，格式为
  # - <program>: <directory from ./docs>
  # 例子：
  # - Stat - MS Stat @ Stanford - Xiqin: cases/23fall/stat-stanford-xiqin.md
    - 案例: cases/index.md
    - 案例模板: cases/example.md
    - Tag 索引: cases/tags.md
    - 23 Fall:
      - cases/23fall/index.md
      - AI + HCI - MSCS @ Stanford - Sophia: cases/23fall/cases/AI+HCI-MSCS@Stanford-Sophia.md
      - Anthropology - MA SA @ SOAS - luxixi717: cases/23fall/cases/Anthropology-MASA@SOAS-luxixi717.md
      - AstroPhysics - PhD @ UMD - zengsz19: cases/23fall/cases/Astrophysics-PhD@UMD-zengsz19.md
      - BA - MISM-BIDA @ CMU - Lucy: cases/23fall/cases/MISM-BIDA@CMU-Lucy.md
      - BA - MSBA @ Columbia - David: cases/23fall/cases/MSBA@Columbia-David.md
      - Biostatistics - MS @ Vandy - Charlie: cases/23fall/cases/Biostatistics-MS@Vandy-Charlie.md
      - CSE - MS  @ GaTech - Miracle: cases/23fall/cases/CSE-MS@GaTech-Miracle.md
      - CS + EE - MS @ Stanford - Chris: cases/23fall/cases/CS+EE-MS@Stanford-Chris.md
      - ECE - PhD @ UIUC - Murph: cases/23fall/cases/ECE-PhD@UIUC-Murph.md
      - MatSE - MS @ RWTH Aachen - Tony: cases/23fall/cases/MatSE-MS@RWTH_Aachen-Tony.md
      - MatSE - MS @ UIUC - 7g: cases/23fall/cases/MatSE-MS@UIUC-7g.md
      - Sociology - MA @ UAlberta - RZ: cases/23fall/cases/Sociology-MA@UAlberta-RZ.md
      - Stats - PhD @ NWU - v1ncent19: cases/23fall/cases/Stat-PhD@Northwestern-v1ncent19.md
      - Stats - PhD @ UMN - Mariana: cases/23fall/cases/Stat-PhD@UMN-Mariana.md
    - 22 Fall:
      - cases/22fall/index.md
      - Sociology/East Asian Studies - MA EAS @ Stanford - FriedChicken: cases/22fall/cases/EastAsianStudies_Sociology-MA@Stanford-FriedChicken.md
    - 21 Fall:
      - cases/21fall/index.md
  # - 招生信息:
  #   - ad/index.md
  - 联系与支持:
    - 联系与支持: contact/support.md
    - 功德墙: contact/contributor.md

theme:
  name: material
  custom_dir: docs/overrides
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.indexes
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.expand
    - navigation.footer
    - navigation.top
    - toc.follow
    - announce.dismiss
  font:
    text: 'Fira Sans'
    code: 'Fira Mono'
  # Necessary for search to work properly
  include_search_page: false
  search_index_only: false

markdown_extensions:
  # Python Markdown
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  # Python Markdown Extensions
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.highlight:
      linenums: true
      linenums_style: pymdownx-inline
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

extra_javascript:
  - javascripts/config.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

plugins:
  - search:
      lang:
        - en
        - ja
      separator: '[\s\u200b\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'
  - minify:
      minify_html: true
  - git-revision-date-localized
  - add-number:
      strict_mode: False
      order: 2
  - git-authors:
      show_contribution: true
  - tags:
      tags_file: cases/tags.md
